<h1>{{title}}</h1>
<p>Make changes to the overall functioning of this <em>A Tripos a Day</em> deployment.</p>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Upload a new question
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/create/question" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control {{#if errors.[description]}}is-invalid{{/if}}"
                            id="description" name="description">
                        {{#if errors.[description]}}
                        {{> admin/invalid_feedback msg= "Your description is greater than 120 characters."
                        }}
                        {{/if}}
                        <div class="form-text">Optional description. Batch uploads will all have the same
                            description.</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select {{#if errors.[tripos-part]}}is-invalid{{/if}}" name="tripos-part"
                            id="tripos-part-select">
                            <option value="" {{#unless form_vals.[tripos-part]}}selected{{/unless}}>Tripos part
                            </option>
                            {{#each tripos_parts}}
                            <option value="{{lookup this 0}}" {{#ifeq ../form_vals.[tripos-part] (lookup this
                                0)}}selected{{/ifeq}}>
                                {{lookup this 1}}
                            </option>
                            {{/each}}
                        </select>
                        {{#if errors.[tripos-part]}}
                        {{> admin/invalid_feedback msg="You must specify a part of the Tripos to which your upload
                        belongs."}}
                        {{/if}}
                    </div>
                    <div class="mb-3" id="subjects">
                        <label class="form-label {{#if errors.[subject]}}is-invalid{{/if}}">Subject</label>

                        <article>
                            {{#each tripos_parts}}
                            <div class="{{#unlesseq ../form_vals.[tripos-part] (lookup this 0)}} d-none {{/unlesseq}}"
                                data-part="{{lookup this 0}}">
                                {{#each (lookup ../subjects (lookup this 0)) }}
                                {{> admin/checkbox description=this value=@key checked_val=../../form_vals.[subject]}}
                                {{else}}
                                <p class="text-warning">No subjects available for this Tripos part.</p>
                                {{/each}}
                            </div>
                            {{/each}}
                        </article>
                        {{#unless form_vals.[tripos-part]}}
                        <p class="text-danger">Select a Tripos part.</p>
                        {{/unless}}
                        {{#if errors.[subject]}}
                        {{> admin/invalid_feedback msg= "You must select a base topic."
                        }}
                        {{/if}}
                        <div id="topicHelp" class="form-text">All questions must belong to a subject. If none
                            applies, choose the <em>no topic</em> option.</div>
                    </div>
                    <div class="mb-3">
                        <label for="question-upload" class="form-label">Upload one or more photos</label>
                        <input class="form-control form-control-lg {{#if errors.[question-upload]}}is-invalid{{/if}}"
                            type="file" id="question-upload" name="question-upload" multiple>
                        {{#if errors.[question-upload]}}
                        {{> admin/invalid_feedback msg= "You must upload at least one file."
                        }}
                        {{/if}}
                    </div>
                    <button id="question-create-submit" type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Create a new topic
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="description" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="description" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>