<div class="alert alert-info mt-3" role="alert">
    You have answered {{count}} question(s).
</div>

<div class="accordion mt-4" id="answeredAccordion">
    {{#each tripos_parts as |part|}}
    {{#each (lookup ../subjects part) as |subjectName|}}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-{{@index}}-{{@../index}}">
                {{part}} - {{subjectName}}
            </button>
        </h2>
        <div id="collapse-{{@index}}-{{@../index}}" class="accordion-collapse collapse"
            data-bs-parent="#answeredAccordion">
            <div class="accordion-body">
                <ul class="list-group">
                    {{#each (lookup (lookup @root.papers part) @key) as |paper|}}
                    {{#each paper as |question|}}
                    <li class="list-group-item {{ifeq question.uuid}} {{/ifeq}}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">#{{question.number}} on {{subjectName}} {{paper.year}}</h5>
                            <small>Bookmarked {{readable_date question.stats.[0].dateBookmarked}}</small>
                        </div>
                        <a href="/question?uuid={{uuid}}">View question</a>
                    </li>
                    <li class="list-group-item">A simple default list group item</li>
                    <li class="list-group-item list-group-item-success">A simple success list group item</li>
                    {{/each}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
    {{/each}}
</div>