<div class="alert alert-info mt-3" role="alert">
    You have answered {{count}} question(s).
</div>
<div class="accordion mt-4" id="answeredAccordion">
    {{#each tripos_parts as |part|}}
    {{#each (lookup ../subjects part) as |subjectName|}}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-{{@index}}-{{@../index}}">
                {{part}} - {{subjectName}}
            </button>
        </h2>
        <div id="collapse-{{@index}}-{{@../index}}" class="accordion-collapse collapse"
            data-bs-parent="#answeredAccordion">
            <div class="accordion-body">
                <ul class="list-group">
                    {{#each (lookup (lookup @root.questions part) @key) as |question|}}
                    {{#ifeq2 question.paper.subject @../key question.paper.triposPart part}}
                    <li class="list-group-item list-group-item-success">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">#{{question.number}} from {{subjectName}} {{question.paper.year}}</p>
                            <small>Answered on {{readable_date question.stats.[0].dateAnswered}}</small>
                        </div>
                        <a href="/question?uuid={{question.uuid}}">View question</a>
                    </li>
                    {{/ifeq2}}
                    {{else}}
                    <li class="list-group-item list-group-item-warning">
                        You have not answered any questions from this paper.
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
    {{/each}}
</div>