<div class="alert alert-info mt-3" role="alert">
  You have bookmarked {{count}} question(s).
</div>

<ul class="list-group">
    {{#each questions as |question|}}
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">#{{question.number}} on {{readable_subject question.paper.triposPart question.paper.subject}} {{question.paper.year}}</h5>
            <small>Bookmarked {{readable_date question.stats.[0].dateBookmarked}}</small>
        </div>
        <a href="/question?uuid={{uuid}}">View question</a>
    </li>
    {{/each}}
</ul>