{{#if subscriptions}}
<h2>Your subscriptions</h2>
<div class="alert alert-info mt-3" role="alert">
    You are subscribed to a total of {{subscriptions.length}} topic(s).
</div>
<ul class="list-group mb-2">
    {{#each subscriptions}}
    {{#with dataValues}}
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-primary">{{name}}</h5>
            <small>Last actioned on {{readable_date lastActioned}}</small>
        </div>
        <p class="mb-1">Summary: send {{count}} question(s) every {{repeatDayFrequency}} day(s) at {{readable_time repeatTime}}
        </p>
        <small>You subscribed on {{readable_date createdAt}}</small>
    </li>
    {{/with}}
    {{/each}}

</ul>
<p>Modify or delete your subscriptions <a href="/user/subscriptions">here</a>.</p>
{{else}}
<div class="alert alert-secondary mt-3" role="alert">
    You are not subscribed to any topics. You can view and subscribe to topics <a href="/topics">here</a>.
</div>
{{/if}}