<section class="row">
    <article class="col-lg-9 rounded-3 question mb-3">
        {{#with answerable}}
        <div id="questionCarousel" class="carousel carousel-dark slide p-2" data-bs-ride="carousel"
            data-bs-interval="false">
            {{!-- <div class="carousel-indicators">
                {{#each assets}}
                <button type="button" data-bs-target="#questionCarousel" data-bs-slide-to="{{@key}}" {{#ifeq @key
                    0}}class="active" {{/ifeq}}></button>
                {{/each}}
            </div> --}}
            <div class="carousel-inner ">
                {{#each assets}}
                <div class="carousel-item {{#ifeq @key
                    0}}active{{/ifeq}}">
                    <img src="{{path}}" class="d-block w-100"
                        alt="question {{../number}} of {{../paper.subject}} {{../paper.year}}">
                </div>
                {{/each}}
            </div>
            {{#unlesseq assets.length 0}}
            <button class="carousel-control-prev" type="button" data-bs-target="#questionCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#questionCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            {{/unlesseq}}
        </div>
    </article>
    <article class="col-lg-3 sidebar">
        {{#if ../user.dataValues.isAdmin}}
        <div class="card mb-3">
            <div class="card-header">
                Administrator
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/question/delete?uuid={{uuid}}" class="btn btn-danger w-100">Delete</a>
                </li>
            </ul>
        </div>
        {{/if}}
        <div class="card mb-3">
            <div class="card-header">
                Your information
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fa fa-fw fa-check"></i>
                    <span class="fw-bold">Attempted? </span>
                    {{#with userStats.[0]}}
                    {{#if hasAnswered}}
                    yes
                    {{else}}
                    no
                    {{/if}}
                    {{else}}
                    no
                    {{/with}}
                </li>
                <li class="list-group-item">
                    <i class="fa fa-fw fa-bookmark"></i>
                    <span class="fw-bold">Bookmarked? </span>
                    {{#with userStats.[0]}}
                    {{#if hasBookmarked}}
                    yes
                    {{else}}
                    no
                    {{/if}}
                    {{else}}
                    no
                    {{/with}}
                </li>
                <li class="list-group-item">
                    <i class="fa fa-fw fa-star"></i>
                    <span class="fw-bold">Rate difficulty </span>
                    <div class="mt-1 d-flex flex-row justify-content-between">
                        <label for="rateDifficulty" class="form-label text-success">Easy</label>
                        <label for="rateDifficulty" class="form-label text-danger">Hard</label>
                    </div>
                    <input type="range" class="form-range" min="0" max="4" step="1" id="rateDifficulty">
                </li>
            </ul>
            <div class="card-footer">
                <button type="button" class="btn btn-success w-100">Update</button>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Question information
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">This question has <span
                        class="badge rounded-pill bg-primary">{{assets.length}}</span> part(s)</li>
                <li class="list-group-item"> <span class="fw-bold">Difficulty: </span>
                    {{#if difficulty}}{{difficulty}}/5{{else}}not available{{/if}}
                </li>
                <li class="list-group-item"><span class="fw-bold">Subject: </span>{{readable_subject paper.triposPart
                    paper.subject}}</li>
                <li class="list-group-item"><span class="fw-bold">Year: </span>{{paper.year}}</li>
                <li class="list-group-item"><span class="fw-bold">Tripos Part: </span> {{paper.triposPart}}</li>
                <li class="list-group-item"><span class="fw-bold">Source: </span> {{readable_qtype paper.type}}</li>
            </ul>
        </div>
    </article>
    {{/with}}

</section>